<div id='outer'>
  <div class='columns is-paddingless is-marginless' id='container'>
    <div id='left' class='column is-4 is-paddingless'>
      <logo></logo>

      <div class='level'>
        <contact-list [contacts]='fakedata'></contact-list>
      </div>
      
      <div class='level'>
        <contact-search></contact-search>
      </div>
    </div>

    <div id='right' class='column is-paddingless'>
      <conversation
        [contact]='fakedata[1]'></conversation>
    </div>
  </div>
</div>